/* CSS LAYOUT */
/* **************************************************************** */

/**LAYOUT HEADER**/
/* **************************************************************** */

/*Colocar al navegador, que es un hijo de header, en la segunda columna*/
nav {
  grid-column: 2 / span-1;
}

/*Hacer que el nav sea también un padre, para mover su contenido*/
nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-self: center;
  grid-gap: 40px; /**No me hace ni caso**/
}

/*Hacer que ocupa img menos espacio en la columnna, no sé como hacerlo*/

/**LAYOUT BANNER**/
/* **************************************************************** */

body {
  height: 1440px;
}

.banner {
  height: 450px;
}

/**LAYOUT ZIGZAG**/
/* **************************************************************** */
.imagen1 {
  grid-column: 1 / 1;
}
.imagen2 {
  grid-column: 2 / 2;
}
.parrafo2 {
  grid-row: 2;
  align-self: center;
}

.parrafo1 {
    align-self: center;
}
/**LAYOUT FOOTER**/
/* **************************************************************** */
