/* CSS TYPOGRAFÍA */
/* **************************************************************** */

html{font-size: 16px;
}

@font-face {
    font-family: "roboto";
    src: url(../font/roboto-regular-webfont.woff2) format("woff2");
    src: url(../font/roboto-regular-webfont.woff)format("woff");
}

/*VARIABLES Typográficas*/

:root{
    --fontBase:"roboto";
    --fontSize: 1rem;
}

/* **************************************************************** */

