/* CSS TYPOGRAFÍA */
/* **************************************************************** */

html{font-size: 18px;
}

@font-face {
    font-family: "roboto";
    src: url(../font/roboto-regular-webfont.woff2) format("woff2");
    src: url(../font/roboto-regular-webfont.woff)format("woff");
}

/*VARIABLES Typográficas*/

:root{
    --fontBase:"roboto";
    --fontSize: 18px;
}

/* **************************************************************** */


/**footer**/
/* **************************************************************** */
.titulo{
    font-weight: bolder;
    
}
